## 1.1 FeatureEngineering

In [1]:
import numpy as np
import pandas as pd
import warnings

warnings.filterwarnings(action='ignore') # 경고 문구 생략 (범주형을 LightGBM으로 모델링할 시에 불필요한 경고문이 뜨게 됨)

# DATA PATH
data_path = '../input/competitive-data-science-predict-future-sales/'

sales_train = pd.read_csv(data_path + 'sales_train.csv')
shops = pd.read_csv(data_path + 'shops.csv')
items = pd.read_csv(data_path + 'items.csv')
item_categories = pd.read_csv(data_path + 'item_categories.csv')
test = pd.read_csv(data_path + 'test.csv')
submission = pd.read_csv(data_path + 'sample_submission.csv')

#### feature name translate to Korean

In [2]:
sales_train = sales_train.rename(columns = {'data':'날짜',
                                            'data_block_num':'월ID',
                                            'shop_id':'상점ID',
                                            'item_id':'상품ID',
                                            'item_price':'판매가',
                                            'item_cnt_day':'판매량'})
sales_train.head()

         date  date_block_num  상점ID   상품ID      판매가  판매량
0  02.01.2013               0    59  22154   999.00  1.0
1  03.01.2013               0    25   2552   899.00  1.0
2  05.01.2013               0    25   2552   899.00 -1.0
3  06.01.2013               0    25   2554  1709.05  1.0
4  15.01.2013               0    25   2555  1099.00  1.0

In [3]:
shops = shops.rename(columns={'shop_name':'상점명',
                              'shop_id':'상점ID'})
shops.head()

                              상점명  상점ID
0   !Якутск Орджоникидзе, 56 фран     0
1   !Якутск ТЦ "Центральный" фран     1
2                Адыгея ТЦ "Мега"     2
3  Балашиха ТРК "Октябрь-Киномир"     3
4        Волжский ТЦ "Волга Молл"     4

In [4]:
items = items.rename(columns={'item_name':'상품명',
                              'item_id':'상품ID',
                              'item_category_id':'상품분류ID'})
items.head()

                                                 상품명  상품ID  상품분류ID
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D     0      40
1  !ABBYY FineReader 12 Professional Edition Full...     1      76
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D     2      40
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D     3      40
4        ***КОРОБКА (СТЕКЛО)                       D     4      40

In [5]:
item_categories = item_categories.rename(columns=
                                         {'item_category_name':'상품분류명',
                                          'item_category_id':'상품분류ID'})
item_categories.head()

                     상품분류명  상품분류ID
0  PC - Гарнитуры/Наушники       0
1         Аксессуары - PS2       1
2         Аксессуары - PS3       2
3         Аксессуары - PS4       3
4         Аксессуары - PSP       4

In [6]:
test = test.rename(columns = {'shop_id':'상점ID',
                              'item_id':'상품ID'})
test.head()

   ID  상점ID  상품ID
0   0     5  5037
1   1     5  5320
2   2     5  5233
3   3     5  5232
4   4     5  5268

## 1.2 데이터 다운캐스팅