In [1]:
import pandas as pd

datapath = '/kaggle/input/cat-in-the-dat/'

train = pd.read_csv(datapath + 'train.csv', index_col ='id')
test = pd.read_csv(datapath + 'test.csv', index_col ='id')
submission = pd.read_csv(datapath + 'sample_submission.csv', index_col ='id')

In [2]:
train.shape, test.shape

((300000, 24), (200000, 23))

In [3]:
train.head().T

id                0            1          2            3            4
bin_0             0            0          0            0            0
bin_1             0            1          0            1            0
bin_2             0            0          0            0            0
bin_3             T            T          F            F            F
bin_4             Y            Y          Y            Y            N
nom_0         Green        Green       Blue          Red          Red
nom_1      Triangle    Trapezoid  Trapezoid    Trapezoid    Trapezoid
nom_2         Snake      Hamster       Lion        Snake         Lion
nom_3       Finland       Russia     Russia       Canada       Canada
nom_4       Bassoon        Piano   Theremin         Oboe         Oboe
nom_5     50f116bcf    b3b4d25d0  3263bdce5    f12246592    5b0f5acd5
nom_6     3ac1b8814    fbcb50fc1  0922e3cb8    50d7ad46a    1fe17a1fd
nom_7     68f6ad3e9    3b6dd5612  a6a36f527    ec69236eb    04ddac2be
nom_8     c389000ab    4cd920251  de9c9f684    4ade6ab69    cb43ab175
nom_9     2f4cb3d51    f83c56c21  ae6800dd0    8270f0d71    b164b72a7
ord_0             2            1          1            1            1
ord_1   Grandmaster  Grandmaster     Expert  Grandmaster  Grandmaster
ord_2          Cold          Hot   Lava Hot  Boiling Hot     Freezing
ord_3             h            a          h            i            a
ord_4             D            A          R            D            R
ord_5            kr           bF         Jc           kW           qP
day               2            7          7            2            7
month             2            8          2            1            8
target            0            0          0            1            0

In [4]:
submission.head()

        target
id
300000     0.5
300001     0.5
300002     0.5
300003     0.5
300004     0.5

In [5]:
test.head()

,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,...,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month
id,,,,,,,,,,,,,,,,,,,,,
300000,0,0,1,T,Y,Blue,Triangle,Axolotl,Finland,Piano,...,9d117320c,3c49b42b8,2,Novice,Warm,j,P,be,5,11
300001,0,0,0,T,N,Red,Square,Lion,Canada,Piano,...,46ae3059c,285771075,1,Master,Lava Hot,l,A,RP,7,5
300002,1,0,1,F,Y,Blue,Square,Dog,China,Piano,...,b759e21f0,6f323c53f,2,Expert,Freezing,a,G,tP,1,12
300003,0,0,1,T,Y,Red,Star,Cat,China,Piano,...,0b6ec68ff,b5de3dcc4,1,Contributor,Lava Hot,b,Q,ke,2,3
300004,0,1,1,F,N,Red,Trapezoid,Dog,China,Piano,...,f91f3b1ee,967cfa9c9,3,Grandmaster,Lava Hot,l,W,qK,4,11

#### 피처 요약표 만들기

In [6]:
def resumetable(df):
    print(f'데이터셋 형상 : {df.shape}')
    summary = pd.DataFrame(df.dtypes, columns=['데이터 타입'])
    summary = summary.reset_index()
    summary = summary.rename(columns={'index':'피처'})
    summary['결측값 개수'] = df.isnull().sum().values
    summary['고유값 개수'] = df.nunique().values
    summary['첫 번째 값'] = df.loc[0].values
    summary['두 번째 값'] = df.loc[1].values
    summary['세 번째 값'] = df.loc[2].values
    
    return summary

resumetable(train)

데이터셋 형상 : (300000, 24)

        피처  데이터 타입  결측값 개수  고유값 개수       첫 번째 값       두 번째 값     세 번째 값
0    bin_0   int64       0       2            0            0          0
1    bin_1   int64       0       2            0            1          0
2    bin_2   int64       0       2            0            0          0
3    bin_3  object       0       2            T            T          F
4    bin_4  object       0       2            Y            Y          Y
5    nom_0  object       0       3        Green        Green       Blue
6    nom_1  object       0       6     Triangle    Trapezoid  Trapezoid
7    nom_2  object       0       6        Snake      Hamster       Lion
8    nom_3  object       0       6      Finland       Russia     Russia
9    nom_4  object       0       4      Bassoon        Piano   Theremin
10   nom_5  object       0     222    50f116bcf    b3b4d25d0  3263bdce5
11   nom_6  object       0     522    3ac1b8814    fbcb50fc1  0922e3cb8
12   nom_7  object       0    1220    68f6ad3e9    3b6dd5612  a6a36f527
13   nom_8  object       0    2215    c389000ab    4cd920251  de9c9f684
14   nom_9  object       0   11981    2f4cb3d51    f83c56c21  ae6800dd0
15   ord_0   int64       0       3            2            1          1
16   ord_1  object       0       5  Grandmaster  Grandmaster     Expert
17   ord_2  object       0       6         Cold          Hot   Lava Hot
18   ord_3  object       0      15            h            a          h
19   ord_4  object       0      26            D            A          R
20   ord_5  object       0     192           kr           bF         Jc
21     day   int64       0       7            2            7          7
22   month   int64       0      12            2            8          2
23  target   int64       0       2            0            0          0